		/*float*/

.backgroup-color-d6e9fa{
    background-color: #d6e9fa;
}
.backgroup-color-747576{
    background-color: #747576
}

/*color*/
.color-035cae{
    color: #035cae;
}
.color-9cacba{
    color: #9cacba
}
.color-white{
	color: white;
}
.color-rgba-tb{
   color:rgba(0, 0, 0, 0.18);
}
.color-blue{
	color: blue;
}
.color-green{
    color: green;
}
.color-03A9F4{
    color:#03A9F4
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #03A9F4;
    border-color: #ddd;
}

/*font-size*/

.font-size-17{
    font-size: 17px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-40{
    font-size: 40px;
}



/*padding*/
.padding-left-304{
    padding-left: 304px;
}
.padding-left-290{
    padding-left: 290px;
}
.padding-left-170{
    padding-left: 170px;
}
.padding-left-12{
    padding-left: 12px;
}
.padding-left-40{
    padding-left: 40px;
}
.padding-left-30{
    padding-left: 30px;
}
.padding-left-50{
    padding-left: 50px;
}
.padding-left-55{
    padding-left: 55px;
}
.padding-left-70{
    padding-left: 70px;
}

.padding-left-60{
    padding-left: 60px;
}
.padding-left-100{
    padding-left: 100px;
}
.padding-left-20{
    padding-left: 20px;
}


.padding-top-20{
    padding-top: 20px;
}

/*margin*/
.margin-top-20{
    margin-top: 20px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-left-30{
    margin-left: 30px;
}

/*height*/
.height-60{
    height: 60px;
}
.height-70{
    height: 70px;
}
.height-30{
    height: 30px;
}
/*width*/
.width-91{
    width: 91%;
}
.width-90{
    width: 90%;
}
.width-80{
    width: 80%;
}
.width-40{
    width: 40%;
}
.width-1125{
    width: 1125px;
}
.width-1145{
    width: 1145px;
}
/*border*/
.border-bottom-2{
    border-bottom: 2px solid #238ef2

}

.item{

    background-color:black;
    display: inline-block;
    margin: 0 15px 15px 0;
    
}